database:
  image: "mariadb:10"
  ports:
    - "3307:3306"
  environment:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_DATABASE: "point_${MIX_ENV}"
  volumes_from:
    - database_storage

database_storage:
  image: "busybox"
  volumes:
    - /var/lib/mysql
  command: "true"

points:
  build: "."
  environment:
    MIX_ENV: ${MIX_ENV}
  ports:
    - "3000:3000"
  links:
    - "database"
